.navbar-default {
	background-image: linear-gradient(135deg, #764ba2 0%, #667eea 100%) !important;
}

.text-new-1 {
	color: #5c24d4;
}

#sidebar-menu > ul > li > a:hover {
	color: #5c24d4 !important;
}

.widget-panel img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 25px;
    margin-right: 15px;
}

.widget-style-2 img {
    background: rgba(244, 248, 251, 0.6) !important;
}

.c-fz {
	font-size: 16px;
}

.hc:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.nav.nav-tabs {
    box-shadow: none !important;
}

#load {
    display: none;
}