
<div class="fullwidth-template">
        <div class="container">
							<div class="vc_row wpb_row vc_row-fluid ovic_custom_5b7bae105324a vc_custom_1518076586293">
								<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 ovic_custom_5b7bae1053291 vc_custom_1515040705198">
									<div class="vc_column-inner ">
										<div class="wpb_wrapper"></div>
									</div>
								</div>
							
								<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 ovic_custom_5b7bae105330c vc_custom_1515040694109">
									<div class="vc_column-inner ">
										<div class="wpb_wrapper">
											<div class="wpb_revslider_element wpb_content_element ovic_custom_5b7bae105331c ">
												<link href="https://fonts.googleapis.com/css?family=Rubik:500%2C400%7COpen+Sans:600%2C400%7CLato:400%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all"><script type="text/javascript" src="https://m-electronics.kute-themes.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?rev=5.4.7.3"></script>
												<script type="text/javascript" src="https://m-electronics.kute-themes.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?rev=5.4.7.3"></script>
<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.7.3 auto mode -->
	<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.3">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-1" data-transition="3dcurtain-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/rezhem-ceny-do-70/main1-940x446.png"  alt="" title="Home 01"  data-lazyload="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/rezhem-ceny-do-70/main1-940x446.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-1-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['63','63','63','15']" 
			 data-y="['top','top','top','top']" data-voffset="['133','133','133','75']" 
						data-lineheight="['40','40','40','60']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 40px; font-weight: 500; color: #333333; letter-spacing: 0px;font-family:Rubik;"></div>

		

		

		

		

		
	</li>


	<!-- SLIDE  -->
	<li data-index="rs-2" data-transition="boxfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/0025-na-vse-kompyutery-i-noutbuki/main1-940x446.png"  alt="" title="Home 01"  data-lazyload="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/0025-na-vse-kompyutery-i-noutbuki/main1-940x446.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','15']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','100','104']" 
						data-fontsize="['55','55','55','50']"
			data-lineheight="['60','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 55px; line-height: 60px; font-weight: 500; color: #333333; letter-spacing: 0px;font-family:Rubik;"></div>

		

		
	</li>

	<!-- SLIDE  -->
	<li data-index="rs-3" data-transition="boxfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/umnaya-rassrochka/main1-940x446.png"  alt="" title="Home 01"  data-lazyload="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/umnaya-rassrochka/main1-940x446.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','15']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','100','104']" 
						data-fontsize="['55','55','55','50']"
			data-lineheight="['60','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 55px; line-height: 60px; font-weight: 500; color: #333333; letter-spacing: 0px;font-family:Rubik;"></div>

		

		
	</li>

	<!-- SLIDE  -->
	<li data-index="rs-4" data-transition="boxfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/Permanent/buy-now/2main1-940x446.png"  alt="" title="Home 01"  data-lazyload="https://static.mvideo.ru/media/Promotions/Promo_Page/Permanent/buy-now/2main1-940x446.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','15']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','100','104']" 
						data-fontsize="['55','55','55','50']"
			data-lineheight="['60','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 55px; line-height: 60px; font-weight: 500; color: #333333; letter-spacing: 0px;font-family:Rubik;"></div>

		

		
	</li>
	
	
	<!-- SLIDE  -->
	<li data-index="rs-5" data-transition="boxfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/mkupon-shkolnyj-priem/mkupon-shkolnyj-priem-hb-d.png"  alt="" title="Home 01"  data-lazyload="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/August/mkupon-shkolnyj-priem/mkupon-shkolnyj-priem-hb-d.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','15']" 
			 data-y="['top','top','top','top']" data-voffset="['100','100','100','104']" 
						data-fontsize="['55','55','55','50']"
			data-lineheight="['60','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 55px; line-height: 60px; font-weight: 500; color: #333333; letter-spacing: 0px;font-family:Rubik;"></div>

		

		
	</li>

	
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
if (setREVStartSize!==undefined) setREVStartSize(
	{c: '#rev_slider_1_1', responsiveLevels: [1240,1240,1240,480], gridwidth: [880,880,880,480], gridheight: [528,528,528,500], sliderLayout: 'auto'});
			
var revapi1,
	tpj;	
(function() {			
	if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();	
	function onLoad() {				
		if (tpj===undefined) { tpj = jQuery; if("on" == "on") tpj.noConflict();}
	if(tpj("#rev_slider_1_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_1_1");
	}else{
		revapi1 = tpj("#rev_slider_1_1").show().revolution({
			sliderType:"standard",
			jsFileLocation:"//m-electronics.kute-themes.com/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"auto",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
				onHoverStop:"off",
				arrows: {
					style:"custom",
					enable:true,
					hide_onmobile:false,
					hide_onleave:true,
					hide_delay:0,
					hide_delay_mobile:1200,
					tmp:'',
					left: {
						h_align:"left",
						v_align:"center",
						h_offset:20,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"center",
						h_offset:20,
						v_offset:0
					}
				}
			},
			responsiveLevels:[1240,1240,1240,480],
			visibilityLevels:[1240,1240,1240,480],
			gridwidth:[880,880,880,480],
			gridheight:[528,528,528,500],
			lazyType:"all",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}; /* END OF revapi call */
	
 }; /* END OF ON LOAD FUNCTION */
}()); /* END OF WRAPPING FUNCTION */
</script>
		<script>
					var htmlDivCss = unescape("div.custom.tparrows%7B%0A%20%20%09%20%20width%3A%2054px%3B%0A%20%20%20%20%20%20height%3A%2054px%3B%0A%20%20%20%20%20%20border-radius%3A%2050%25%3B%0A%20%20%20%20%20%20border%3A%202px%20solid%20%23cecece%3B%0A%20%20%20%20%20%20background-color%3A%20transparent%3B%0A%7D%0Adiv.custom.tparrows%3A%3Abefore%7B%0A%20%20%09%20%20font-size%3A%2018px%3B%0A%20%20%20%20%20%20line-height%3A%2050px%3B%0A%20%20%09%20%20color%3A%20%23999%3B%0A%7D%0Adiv.custom.tparrows%3Ahover%7B%0A%20%20background-color%3A%20%23666%3B%0A%20%20%20%20%20%20%20%20border-color%3A%20%23666%3B%0A%7D%0Adiv.custom.tparrows%3Ahover%3A%3Abefore%7B%0A%20%20color%3A%20%23fff%3B%0A%7D%0A%40media%20%28max-width%3A%20767px%29%7B%0A%20%20div.custom.tparrows%7B%0A%20%20display%3A%20none%20%21important%3B%0A%7D%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script><script>
					var htmlDivCss = unescape(".custom.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3A%23000%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%7D%0A.custom.tparrows%3Ahover%20%7B%0A%09background%3A%23000%3B%0A%7D%0A.custom.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A15px%3B%0A%09color%3A%23fff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.custom.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A.custom.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%22%3B%0A%7D%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script>
				</div><!-- END REVOLUTION SLIDER --></div></div></div></div></div>
				
				
				<div class="vc_row wpb_row vc_row-fluid ovic_custom_5b7bae105335b vc_custom_1515039240393">
					<div class="wpb_column vc_column_container vc_col-sm-12 ovic_custom_5b7bae10533af">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="ovic-products style-4 ovic_custom_5b7bae10533f1 ">
				                    <h3 class="ovic-title">
										<span class="title"><a target="_blank" href="/page/Novosti-skidok">Новые акции</a></span>
									</h3>
				                

								<div class="tab-container">
                                        <div class="tab-panel active" id="1513736697957-62914778-57dc-5b90c95d87ce3">
                                            <div class="ovic-products style-1 style-2   ovic_custom_5b7bae10535fe ">
												<div class="product-list-owl owl-slick equal-container better-height "  data-slick = {"arrows":true,"slidesMargin":30,"dots":false,"infinite":false,"speed":250,"slidesToShow":4,"rows":1} data-responsive = [{"breakpoint":1500,"settings":{"slidesToShow":4}},{"breakpoint":1200,"settings":{"slidesToShow":3}},{"breakpoint":992,"settings":{"slidesToShow":3}},{"breakpoint":768,"settings":{"slidesToShow":2}},{"breakpoint":480,"settings":{"slidesToShow":2}}] >
							                        
													<? $sql_opt_akcii2 = mysqli_query($mysqli, "SELECT * FROM `akcii` $wand ORDER BY `id` DESC LIMIT 8");
														while ($akcPop = mysqli_fetch_assoc($sql_opt_akcii2)) {
													?>
													<div class="product-item products style-2 style-1 rows-space-0 post-2081 product type-product status-publish has-post-thumbnail product_cat-mac-computer product_cat-office-accessories product_cat-pc-computer product_cat-tv-audios product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mouse product_tag-phone product_tag-red  instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
														<div class="product-inner product">
															<div class="product-thumb images">
																<div class="flash"></div>
																	<a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="/akcii/<?=$akcPop['url'];?>">
																		<img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
																		data-src="<?=str_replace('../../', '/', $akcPop['photo']);?>" 
																		style="width: 240px;height: 247px;"
																		alt="<?=$akcPop['name'];?>">
																	</a>
																	
																	
															</div>
															
															<div class="product-info equal-elem">
																<?/*<div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>  */?>     
																<h3 class="product-name product_title">
																	<a target="_blank" href="/akcii/<?=$akcPop['url'];?>"><?=strLimit($akcPop['name'], 60);?></a>
																</h3>
																<?/*<p>
																	<?=strLimit($akcPop['opis'], 80);?>
																</p>*/?>
																		
																
															</div>
															
															<div class="group-button">
																<div class="yith-wcwl-add-to-wishlist add-to-wishlist-2081">
																	

																		

																		

																		<div style="clear:both"></div>
																		<div class="yith-wcwl-wishlistaddresponse"></div>
																	
																</div>

																<?/*<div class="clear"></div>		<div class="add-to-cart">
																	<a target="_blank" href="/akcii/<?=$akcPop['url'];?>" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2081" data-product_sku="ED1202" aria-label="" rel="nofollow">Подробнее</a>		</div>*/?>
															</div>
		
		
		
														</div>
													</div>
													<? } ?>
													
							                        </div>
					            </div>
			                            </div>
                                                    <div class="tab-panel "
                                 id="1513736733288-bacb9ba3-b556-5b90c95d87ce3">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513736749759-1f0ec331-f3eb-5b90c95d87ce3">
                                                            </div>
                                            </div>

					            </div>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="vc_row wpb_row vc_row-fluid ovic_custom_5b7bae105343b vc_custom_1515462474641">
				
					<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 ovic_custom_5b7bae105347a">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ovic_custom_5b7bae10534bb vc_custom_1529400921168 " >
									<div class="wpb_wrapper">
										<div class="effect border-scale" style="display: block; width: 100%; padding: 40px 39px 45px;">
											<p style="position: relative; z-index: 2; font-size: 20px; color: #333; line-height: 30px; font-weight: 500; margin-bottom: 4px;">МЕСТО ДЛЯ <br>ВАШЕЙ РЕКЛАМЫ</p>
											<h3 style="position: relative; z-index: 2; font-size: 38px; line-height: 30px; margin-bottom: 8px;">РЕКЛАМЫ</h3><br>
											<p style="position: relative; z-index: 2; font-size: 16px; color: #333; margin-bottom: 10px;">тел. 8(800)5501451</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 ovic_custom_5b7bae105347a">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ovic_custom_5b7bae10534bb vc_custom_1529400921168 " >
									<div class="wpb_wrapper">
										<div class="effect border-scale" style="display: block; width: 100%; padding: 40px 39px 45px;">
											<p style="position: relative; z-index: 2; font-size: 20px; color: #333; line-height: 30px; font-weight: 500; margin-bottom: 4px;">МЕСТО ДЛЯ <br>ВАШЕЙ РЕКЛАМЫ</p>
											<h3 style="position: relative; z-index: 2; font-size: 38px; line-height: 30px; margin-bottom: 8px;">РЕКЛАМЫ</h3><br>
											<p style="position: relative; z-index: 2; font-size: 16px; color: #333; margin-bottom: 10px;">тел. 8(800)5501451</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>


<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">            <div class="ovic-tabs default   ovic_custom_5b7bae105357f vc_custom_1518230037023 vc_custom_1518230037028">
                                    <div class="tab-head ovic-dropdown">
                                                    <h2 class="ovic-title">
                                <span class="text"><a target="_blank" href="/populyarnie-akcii">Популярные скидки</a></span>
                            </h2>
                                                <?/*<ul class="tab-link">
                                                            <li class="active">
                                    <a target="_blank" class="loaded"
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513736697957-62914778-57dc"
                                       data-id="1834"
                                       href="#1513736697957-62914778-57dc-5b90c95d87ce3">
                                                                                                                                <span>Лучшие</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513736733288-bacb9ba3-b556"
                                       data-id="1834"
                                       href="#1513736733288-bacb9ba3-b556-5b90c95d87ce3">
                                                                                                                                <span>Новые</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513736749759-1f0ec331-f3eb"
                                       data-id="1834"
                                       href="#1513736749759-1f0ec331-f3eb-5b90c95d87ce3">
                                                                                                                                <span>Просматриваемые</span>
                                                                                                                        </a>
                                </li>
                                                    </ul>
                        <a target="_blank" class="toggle-tabs" href="#" data-ovic="ovic-dropdown"><i class="fa fa-ellipsis-h"></i></a>*/?>
                    </div>
									<div class="tab-container">
                                        <div class="tab-panel active" id="1513736697957-62914778-57dc-5b90c95d87ce3">
                                            <div class="ovic-products style-1 style-2   ovic_custom_5b7bae10535fe ">
												<div class="product-list-owl owl-slick equal-container better-height "  data-slick = {"arrows":true,"slidesMargin":30,"dots":false,"infinite":false,"speed":250,"slidesToShow":4,"rows":1} data-responsive = [{"breakpoint":1500,"settings":{"slidesToShow":4}},{"breakpoint":1200,"settings":{"slidesToShow":3}},{"breakpoint":992,"settings":{"slidesToShow":3}},{"breakpoint":768,"settings":{"slidesToShow":2}},{"breakpoint":480,"settings":{"slidesToShow":2}}] >
							                        
													<? $sql_opt_akcii2 = mysqli_query($mysqli, "SELECT * FROM `akcii` $wand ORDER BY RAND() LIMIT 8");
														while ($akcPop = mysqli_fetch_assoc($sql_opt_akcii2)) {
													?>
													<div class="product-item products style-2 style-1 rows-space-0 post-2081 product type-product status-publish has-post-thumbnail product_cat-mac-computer product_cat-office-accessories product_cat-pc-computer product_cat-tv-audios product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mouse product_tag-phone product_tag-red  instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
														<div class="product-inner product">
															<div class="product-thumb images">
																<div class="flash"></div>
																	<a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="/akcii/<?=$akcPop['url'];?>">
																		<img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
																		data-src="<?=str_replace('../../', '/', $akcPop['photo']);?>" 
																		style="width: 240px;height: 247px;"
																		alt="<?=$akcPop['name'];?>">
																	</a>
																	
																	
															</div>
															
															<div class="product-info equal-elem">
																<?/*<div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>  */?>     
																<h3 class="product-name product_title">
																	<a target="_blank" href="/akcii/<?=$akcPop['url'];?>"><?=strLimit($akcPop['name'], 60);?></a>
																</h3>
																<?/*<p>
																	<?=strLimit($akcPop['opis'], 80);?>
																</p>*/?>
																		
																
															</div>
															
															<div class="group-button">
																<div class="yith-wcwl-add-to-wishlist add-to-wishlist-2081">
																	

																		

																		

																		<div style="clear:both"></div>
																		<div class="yith-wcwl-wishlistaddresponse"></div>
																	
																</div>

																<?/*<div class="clear"></div>		<div class="add-to-cart">
																	<a target="_blank" href="/akcii/<?=$akcPop['url'];?>" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2081" data-product_sku="ED1202" aria-label="" rel="nofollow">Подробнее</a>		</div>*/?>
															</div>
		
		
		
														</div>
													</div>
													<? } ?>
													
							                        </div>
					            </div>
			                            </div>
                                                    <div class="tab-panel "
                                 id="1513736733288-bacb9ba3-b556-5b90c95d87ce3">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513736749759-1f0ec331-f3eb-5b90c95d87ce3">
                                                            </div>
                                            </div>
                            </div>
            </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-xs ovic_custom_5b7bae105372b"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left ovic_custom_5b7bae1053768 vc_custom_1515040361919">
		
		
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid ovic_custom_5b7bae10537a5 vc_custom_1515040430049"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12 vc_col-md-12 ovic_custom_5b7bae10537e3"><div class="vc_column-inner "><div class="wpb_wrapper">            <div class="ovic-tabs default   ovic_custom_5b7bae1053822 vc_custom_1516698969992 ">
                                    <div class="tab-head ovic-dropdown">
                                                    <h2 class="ovic-title">
                                <span class="text">Рекомендации</span>
                            </h2>
                                                <?/*<ul class="tab-link">
                                                            <li class="active">
                                    <a target="_blank" class="loaded"
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513739066116-688c909e-5e88"
                                       data-id="1834"
                                       href="#1513739066116-688c909e-5e88-5b90c95dee163">
                                                                                                                                <span>Интересное</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513739124486-9e81f348-c9b3"
                                       data-id="1834"
                                       href="#1513739124486-9e81f348-c9b3-5b90c95dee163">
                                                                                                                                <span>Медцентры</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513739123937-9c2014ca-fdba"
                                       data-id="1834"
                                       href="#1513739123937-9c2014ca-fdba-5b90c95dee163">
                                                                                                                                <span>Фотосессии</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513739136955-08b16d42-9249"
                                       data-id="1834"
                                       href="#1513739136955-08b16d42-9249-5b90c95dee163">
                                                                                                                                <span>Праздники</span>
                                                                                                                        </a>
                                </li>
                                                    </ul>
                        <a target="_blank" class="toggle-tabs" href="#" data-ovic="ovic-dropdown"><i class="fa fa-ellipsis-h"></i></a>*/?>
                    </div>
                    <div class="tab-container">
                                                    <div class="tab-panel active" id="1513739066116-688c909e-5e88-5b90c95dee163">
                                            <div class="ovic-products style-1 style-2   ovic_custom_5b7bae10538a4 ">
				                        <div class="product-list-owl owl-slick equal-container better-height "  data-slick = {"arrows":true,"slidesMargin":30,"dots":false,"infinite":false,"speed":300,"slidesToShow":3,"rows":2} data-responsive = [{"breakpoint":1500,"settings":{"slidesToShow":3}},{"breakpoint":1200,"settings":{"slidesToShow":2}},{"breakpoint":992,"settings":{"slidesToShow":3}},{"breakpoint":768,"settings":{"slidesToShow":2}},{"breakpoint":480,"settings":{"slidesToShow":2}}] >
							                    
												
												<? $sql_opt_akcii3 = mysqli_query($mysqli, "SELECT * FROM `akcii` $wand ORDER BY RAND() LIMIT 8");
												while ($akcRek = mysqli_fetch_assoc($sql_opt_akcii3)) {
												?>
												<div class="product-item products style-2 style-1 rows-space-30 post-2084 product type-product status-publish has-post-thumbnail product_cat-camera-lens product_cat-gaming-console product_cat-laptop-computer product_cat-office-accessories product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-mouse product_tag-phone first instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
													<div class="product-inner product">
																	<div class="product-thumb images">
																			
																			<a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="/akcii/<?=$akcRek['url'];?>">
																				<img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
																				data-src="<?=str_replace('../../', '/', $akcRek['photo']);?>" style="width: 240px;height: 247px; " alt="<?=$akcRek['name'];?>">
																			</a>
																			<div class="thumb-hover">
																									
																		        </div>
																</div>
																<div class="product-info equal-elem">
																	<div class="rating-wapper">
																	</div>        <h3 class="product-name product_title">
																		<a target="_blank" href="/akcii/<?=$akcRek['url'];?>"><?=strLimit($akcRek['name'], 60);?></a>
																	</h3>
																</div>
																
															</div>
															
															
												</div>
												<? } ?>
							                                
							                                
							                                
							                                
							                                
							                        </div>
					            </div>
			                            </div>
                                                    <div class="tab-panel "
                                 id="1513739124486-9e81f348-c9b3-5b90c95dee163">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513739123937-9c2014ca-fdba-5b90c95dee163">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513739136955-08b16d42-9249-5b90c95dee163">
                                                            </div>
                                            </div>
                            </div>
            </div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-4 vc_hidden-sm vc_hidden-xs ovic_custom_5b7bae1053a66"><div class="vc_column-inner "><div class="wpb_wrapper">
	<?/*<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae1053aa6 vc_custom_1515040424099">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20270%20941%27%2F%3E" data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2018/01/01_HomeElectronic-2-1.jpg" width="270" height="941"  alt="Home 01"/></div>
		</figure>
	</div>*/?>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid ovic_custom_5b7bae1053ad4 vc_custom_1514962566152"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 ovic_custom_5b7bae1053b12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae1053b53 vc_custom_1515637019068">
		
		<figure class="wpb_wrapper vc_figure">
			<a target="_blank" href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect border-zoom "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20370%20215%27%2F%3E" data-src="/style/r2.jpg" width="370" height="215"  alt="Home 01"/></a>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae1053b92 vc_custom_1515637030091">
		
		<figure class="wpb_wrapper vc_figure">
			<a target="_blank" href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect border-zoom "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20370%20215%27%2F%3E" data-src="/style/r3.jpg" width="370" height="215"  alt="Home 01"/></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 ovic_custom_5b7bae1053bda"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae1053c19 vc_custom_1515637051112 vc_custom_1515637051115">
		
		<figure class="wpb_wrapper vc_figure">
			<a target="_blank" href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect plus-zoom "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20370%20450%27%2F%3E" data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2018/01/01_HomeElectronic-1-1.jpg" width="370" height="450"  alt="Home 01"/></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 ovic_custom_5b7bae1053c59"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae1053c97 vc_custom_1515637040170">
		
		<figure class="wpb_wrapper vc_figure">
			<a target="_blank" href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect border-zoom "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20370%20215%27%2F%3E" data-src="/style/r4.jpg" width="370" height="215"  alt="Home 01"/></a>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae1053cd6 vc_custom_1515637078425">
		
		<figure class="wpb_wrapper vc_figure">
			<a target="_blank" href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect border-zoom "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20370%20215%27%2F%3E" data-src="style/r5.jpg" width="370" height="215"  alt="Home 01"/></a>
		</figure>
	</div>
</div></div></div></div>

<div class="vc_row wpb_row vc_row-fluid" style="display: none;"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">            <div class="ovic-tabs default   ovic_custom_5b7bae1053d16 vc_custom_1516698978955 ">
                                    <div class="tab-head ovic-dropdown">
                                                    <h2 class="ovic-title">
                                <span class="text">Горячие предложения</span>
                            </h2>
                                                <?/*<ul class="tab-link">
                                                            <li class="active">
                                    <a target="_blank" class="loaded"
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513743175645-fe64eb1f-7aa1"
                                       data-id="1834"
                                       href="#1513743175645-fe64eb1f-7aa1-5b90c95e41b22">
                                                                                                                                <span>Авто</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513743242201-b4a700fe-0ebf"
                                       data-id="1834"
                                       href="#1513743242201-b4a700fe-0ebf-5b90c95e41b22">
                                                                                                                                <span>Детям</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513743241792-2609740c-fa0d"
                                       data-id="1834"
                                       href="#1513743241792-2609740c-fa0d-5b90c95e41b22">
                                                                                                                                <span>Для животных</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513743241367-a8e95bf7-1d58"
                                       data-id="1834"
                                       href="#1513743241367-a8e95bf7-1d58-5b90c95e41b22">
                                                                                                                                <span>Здоровье и спорт</span>
                                                                                                                        </a>
                                </li>
                                                            <li class="">
                                    <a target="_blank" class=""
                                       data-ajax="1"
                                       data-animate="fadeInUp"
                                       data-section="1513743240580-d77f49ea-9c8a"
                                       data-id="1834"
                                       href="#1513743240580-d77f49ea-9c8a-5b90c95e41b22">
                                                                                                                                <span>Еда</span>
                                                                                                                        </a>
                                </li>
                                                    </ul>
                        <a target="_blank" class="toggle-tabs" href="#" data-ovic="ovic-dropdown"><i class="fa fa-ellipsis-h"></i></a>*/?>
                    </div>
                    <div class="tab-container" style="display:none;">
                                                    <div class="tab-panel active"
                                 id="1513743175645-fe64eb1f-7aa1-5b90c95e41b22">
                                            <div class="ovic-products style-3   ovic_custom_5b7bae1053d96 ">
				                        <div class="product-list-owl owl-slick equal-container better-height "  data-slick = {"arrows":true,"slidesMargin":0,"dots":false,"infinite":false,"speed":300,"slidesToShow":3,"rows":2} data-responsive = [{"breakpoint":1500,"settings":{"slidesToShow":3}},{"breakpoint":1200,"settings":{"slidesToShow":2}},{"breakpoint":992,"settings":{"slidesToShow":2}},{"breakpoint":768,"settings":{"slidesToShow":1}},{"breakpoint":480,"settings":{"slidesToShow":1}}] >
							                                <div class="product-item products style-3 rows-space-0 post-2080 product type-product status-publish has-post-thumbnail product_cat-pc-computer product_cat-printers-ink product_cat-smartphone-tablet product_cat-tv-audios product_cat-ultrasound product_cat-virtual-reality product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-phone product_tag-red  instock sale shipping-taxable purchasable product-type-simple">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			
	<span class="onsale"><span class="text">-50%</span></span>
        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/hunan-skmei-sk9083/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/8-2-240x274.jpg" width="240" height="274"                  alt="Hunan skmei SK9083">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/hunan-skmei-sk9083/">Hunan skmei SK9083</a>
        </h3>
		        
	<span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>259.99</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>130.05</span></ins></span>
        <div class="add-to-cart">
            <a target="_blank" href="/?add-to-cart=2080" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2080" data-product_sku="ED1201" aria-label="Add &ldquo;Hunan skmei SK9083&rdquo; to your cart" rel="nofollow">Add to cart</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2083 product type-product status-publish has-post-thumbnail product_cat-printers-ink product_cat-smartphone-tablet product_cat-ultrasound product_cat-virtual-reality product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-mouse product_tag-phone last instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/smart-tv-vinco-49-inch/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/11-2-240x274.jpg" width="240" height="274"                  alt="Smart TV VinCo 49 inch">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/smart-tv-vinco-49-inch/">Smart TV VinCo 49 inch</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>147.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>150.00</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/smart-tv-vinco-49-inch/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2083" data-product_sku="ED1204" aria-label="Select options for &ldquo;Smart TV VinCo 49 inch&rdquo;" rel="nofollow">Select options</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2082 product type-product status-publish has-post-thumbnail product_cat-camera-lens product_cat-headphone-mp3 product_cat-laptop-computer product_cat-pc-computer product_tag-computer product_tag-electronic product_tag-mobile product_tag-mouse product_tag-phone first instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			<span class="onnew"><span class="text">New</span></span>        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/ullamcorper-ipad-ed/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/14-1-240x274.jpg" width="240" height="274"                  alt="ullamcorper Ipad ED">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/ullamcorper-ipad-ed/">ullamcorper Ipad ED</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>159.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>162.00</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/ullamcorper-ipad-ed/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2082" data-product_sku="ED1203" aria-label="Select options for &ldquo;ullamcorper Ipad ED&rdquo;" rel="nofollow">Select options</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2094 product type-product status-publish has-post-thumbnail product_cat-office-accessories product_cat-pc-computer product_cat-printers-ink product_cat-virtual-reality product_tag-computer product_tag-electronic product_tag-mobile product_tag-mouse  instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			<span class="onnew"><span class="text">New</span></span>        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/table-clock-needle-hb06/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/3-1-1-240x274.jpg" width="240" height="274"                  alt="Table clock needle HB06">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/table-clock-needle-hb06/">Table clock needle HB06</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>120.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>130.00</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/table-clock-needle-hb06/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2094" data-product_sku="ED1217" aria-label="Select options for &ldquo;Table clock needle HB06&rdquo;" rel="nofollow">Select options</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2081 product type-product status-publish has-post-thumbnail product_cat-mac-computer product_cat-office-accessories product_cat-pc-computer product_cat-tv-audios product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mouse product_tag-phone product_tag-red  instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/laptop-galaxy-book/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/13-1-240x274.jpg" width="240" height="274"                  alt="Laptop Galaxy Book">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/laptop-galaxy-book/">Laptop Galaxy Book</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>129.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>132.00</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/laptop-galaxy-book/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2081" data-product_sku="ED1202" aria-label="Select options for &ldquo;Laptop Galaxy Book&rdquo;" rel="nofollow">Select options</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2084 product type-product status-publish has-post-thumbnail product_cat-camera-lens product_cat-gaming-console product_cat-laptop-computer product_cat-office-accessories product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-mouse product_tag-phone last instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			<span class="onnew"><span class="text">New</span></span>        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/smart-tv-ggt-50-inch/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/15-1-240x274.jpg" width="240" height="274"                  alt="Smart TV GGT 50 inch">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/smart-tv-ggt-50-inch/">Smart TV GGT 50 inch</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>159.99</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>179.00</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/smart-tv-ggt-50-inch/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2084" data-product_sku="ED1205" aria-label="Select options for &ldquo;Smart TV GGT 50 inch&rdquo;" rel="nofollow">Select options</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2093 product type-product status-publish has-post-thumbnail product_cat-gaming-console product_cat-headphone-mp3 product_cat-laptop-computer product_cat-pc-computer product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-mouse first instock shipping-taxable product-type-external">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			<span class="onnew"><span class="text">New</span></span>        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/sollicitudin-molestie-ipad-8/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/5-1-1-240x274.jpg" width="240" height="274"                  alt="sollicitudin molestie Ipad 8">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/sollicitudin-molestie-ipad-8/">sollicitudin molestie Ipad 8</a>
        </h3>
		        
        <div class="add-to-cart">
            <a target="_blank" href="https://www.amazon.com/Apple-iPhone-GSM-Unlocked-5-8/dp/B075QMZH2L/ref=sr_1_3?s=wireless&#038;ie=UTF8&#038;qid=1515383376&#038;sr=1-3&#038;keywords=iphone+X" data-quantity="1" class="button product_type_external" data-product_id="2093" data-product_sku="ED1215" aria-label="Buy &ldquo;sollicitudin molestie Ipad 8&rdquo;" rel="nofollow">Buy product</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2089 product type-product status-publish has-post-thumbnail product_cat-camera-lens product_cat-mac-computer product_cat-pc-computer product_cat-printers-ink product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-mouse  instock sale shipping-taxable purchasable product-type-simple">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			
	<span class="onsale"><span class="text">-19%</span></span>
        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/ullamcorper-mobile-j7/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/6-2-240x274.jpg" width="240" height="274"                  alt="ullamcorper mobile J7">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/ullamcorper-mobile-j7/">ullamcorper mobile J7</a>
        </h3>
		        
	<span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>1,599.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>1,300.00</span></ins></span>
        <div class="add-to-cart">
            <a target="_blank" href="/?add-to-cart=2089" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2089" data-product_sku="ED1213" aria-label="Add &ldquo;ullamcorper mobile J7&rdquo; to your cart" rel="nofollow">Add to cart</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2088 product type-product status-publish has-post-thumbnail product_cat-camera-lens product_cat-gaming-console product_cat-headphone-mp3 product_cat-pc-computer product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mouse  instock shipping-taxable purchasable product-type-simple">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			<span class="onnew"><span class="text">New</span></span>        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/pellentesque-nec/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/16-1-240x274.jpg" width="240" height="274"                  alt="pellentesque Samsang T5">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/pellentesque-nec/">pellentesque Samsang T5</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>129.99</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="/?add-to-cart=2088" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2088" data-product_sku="ED1209" aria-label="Add &ldquo;pellentesque Samsang T5&rdquo; to your cart" rel="nofollow">Add to cart</a>        </div>
    </div>
</div>
                                </div>
							                                <div class="product-item products style-3 rows-space-0 post-2085 product type-product status-publish has-post-thumbnail product_cat-office-accessories product_cat-pc-computer product_cat-tv-audios product_cat-virtual-reality product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mobile product_tag-mouse product_tag-phone last instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
									<div class="product-inner equal-elem">
		<div class="product-thumb">
		        <div class="flash">
			        </div>
		        <a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="https://m-electronics.kute-themes.com/product/smart-tv-led-ll-43-inch/">
            <img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
                 data-src="https://m-electronics.kute-themes.com/wp-content/uploads/2017/12/12-2-240x274.jpg" width="240" height="274"                  alt="Smart TV LED LL 43 inch">
        </a>
			</div>
    <div class="product-info">
        <div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>        <h3 class="product-name product_title">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/smart-tv-led-ll-43-inch/">Smart TV LED LL 43 inch</a>
        </h3>
		        
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>50.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>169.00</span></span>
        <div class="add-to-cart">
            <a target="_blank" href="https://m-electronics.kute-themes.com/product/smart-tv-led-ll-43-inch/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2085" data-product_sku="ED1206" aria-label="Select options for &ldquo;Smart TV LED LL 43 inch&rdquo;" rel="nofollow">Select options</a>        </div>
    </div>
</div>
                                </div>
							                        </div>
					            </div>
			                            </div>
                                                    <div class="tab-panel "
                                 id="1513743242201-b4a700fe-0ebf-5b90c95e41b22">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513743241792-2609740c-fa0d-5b90c95e41b22">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513743241367-a8e95bf7-1d58-5b90c95e41b22">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513743240580-d77f49ea-9c8a-5b90c95e41b22">
                                                            </div>
                                            </div>
                            </div>
            </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">            <div class="ovic-slide rows-space-0  ovic_custom_5b7bae1053fb9 vc_custom_1517997599005 ">
				<h3 class="ovic-title"><span class="text">Популярные категории</span></h3>                <div class="owl-slick"  data-slick = {"arrows":true,"slidesMargin":30,"dots":false,"infinite":false,"speed":300,"slidesToShow":3,"rows":1} data-responsive = [{"breakpoint":1500,"settings":{"slidesToShow":3}},{"breakpoint":1200,"settings":{"slidesToShow":2}},{"breakpoint":992,"settings":{"slidesToShow":2}},{"breakpoint":768,"settings":{"slidesToShow":1}},{"breakpoint":480,"settings":{"slidesToShow":1}}] >
					            <div class="ovic-category   ovic_custom_5b7bae1053ff9 ">
				                    <h3 class="ovic-title">
                        <span class="title">Еда</span>
                    </h3>
				                <div class="content-category lazy"
                     				data-src="/style/ed1.png">
					                    <ul class="list-category">
						                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Bary.-Paby">
										Бары. Пабы                                 </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Burgery">
										Бургеры                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Vegetarianskaja-kuhnja">
										Вегетарианская кухня                                </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Dni-rozhdenija.-Bankety">
										Дни рождения. Банкеты                                  </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Dostavka_2">
										Доставка                                   </a>
                                </li>
							                    </ul>
					                        <a target="_blank" href="/categoriya-akcii/Eda"
                           target="_blank"
                           class="button-category">
							Открыть все                            <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>
                        </a>
					                </div>
            </div>
			            <div class="ovic-category   ovic_custom_5b7bae105403b ">
				                    <h3 class="ovic-title">
                        <span class="title">Салоны красоты</span>
                    </h3>
				                <div class="content-category lazy"
                     data-src="/style/ed2.png">
					                    <ul class="list-category">
						                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/VIP">
										VIP                                  </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Korrekcija-figury">
										Коррекция фигуры                                  </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Lazernaja-jepiljacija_1">
										Лазерная эпиляция                                  </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Makijazh_1">
										Макияж                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Manikjyr_1">
										Маникюр                                    </a>
                                </li>
							                    </ul>
					                        <a target="_blank" href="/categoriya-akcii/Salony-krasoty"
                           target="_blank"
                           class="button-category">
							Открыть все                            <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>
                        </a>
					                </div>
            </div>
			            <div class="ovic-category   ovic_custom_5b7bae105407a ">
				                    <h3 class="ovic-title">
                        <span class="title">Одежда и обувь</span>
                    </h3>
				                <div class="content-category lazy"
                     data-src="/style/ed3.png">
					                    <ul class="list-category">
						                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Detskaja-odezhda">
										Детская одежда                             </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/ZHenskaja-odezhda">
										Женская одежда                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Muzhskaja-odezhda">
										Мужская одежда                                   </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Nizhnee-bele">
										Нижнее белье                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank" class="cat-filter" href="/podcategoriya-akcii/Obuv">
										Обувь                                    </a>
                                </li>
							                    </ul>
					                        <a target="_blank" href="/categoriya-akcii/Odezhda-i-obuv"
                           target="_blank"
                           class="button-category">
							Открыть все                            <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>
                        </a>
					                </div>
            </div>
			                </div>
            </div>
	

	<div class="ovic-slide rows-space  ovic_custom_5b7bae10540b9 vc_custom_1516934041481">
				<h3 class="ovic-title"><span class="text">Акции и скидки супермаркетов России</span></h3>                
				<div class="owl-slick"  
					data-slick = {"autoplay":true,"autoplaySpeed":1000,"arrows":true,"slidesMargin":30,"dots":false,"infinite":true,"speed":300,"slidesToShow":6,"rows":1} 
					data-responsive = [{"breakpoint":1500,"settings":{"slidesToShow":6}},{"breakpoint":1200,"settings":{"slidesToShow":5}},{"breakpoint":992,"settings":{"slidesToShow":4}},{"breakpoint":768,"settings":{"slidesToShow":3}},{"breakpoint":480,"settings":{"slidesToShow":2}}] 
				>
					
	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/auchan" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://upload.wikimedia.org/wikipedia/ru/thumb/7/78/Auchan-logo.svg/1280px-Auchan-logo.svg.png" data-src="https://upload.wikimedia.org/wikipedia/ru/thumb/7/78/Auchan-logo.svg/1280px-Auchan-logo.svg.png" style="height: 100px;width: auto;" alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/lenta" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://akademekb.ru/images/info/767_l.png?1457700752" data-src="https://akademekb.ru/images/info/767_l.png?1457700752" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/okey" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://d.l3.hypercdn.sk/ru/data/43/logo.png" data-src="https://d.l3.hypercdn.sk/ru/data/43/logo.png" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/pytorusha" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://logosklad.ru/photo/logos/125/1271894096.jpg" data-src="https://logosklad.ru/photo/logos/125/1271894096.jpg" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/magnit_sem" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="http://logosklad.ru/UserFiles/image/magnit_logo/magnit_family_gm.jpg" data-src="http://logosklad.ru/UserFiles/image/magnit_logo/magnit_family_gm.jpg" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red">
				<a href="/supermarket/magnit" target="_blank"><img class="vc_single_image-img lazy attachment-full" 
				src="/style/mud.jpg" 
				data-src="/style/mud.jpg" 
				style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/tabry" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://pp.userapi.com/c622716/v622716092/138df/jhlxBpJ7itA.jpg?ava=1" data-src="https://pp.userapi.com/c622716/v622716092/138df/jhlxBpJ7itA.jpg?ava=1" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/kari-minsc" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://gidshop.by/wp-content/uploads/2017/02/kari-minsc.jpg" data-src="https://gidshop.by/wp-content/uploads/2017/02/kari-minsc.jpg" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/castorama" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="http://www.ra-luxury.ru/images/logos/castorama.jpg" data-src="http://www.ra-luxury.ru/images/logos/castorama.jpg" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/merlin" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://raexpert.ru/companies/leroymerlin_logo.gif" data-src="https://raexpert.ru/companies/leroymerlin_logo.gif" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/ikea" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Ikea_logo.svg/1280px-Ikea_logo.svg.png" data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Ikea_logo.svg/1280px-Ikea_logo.svg.png" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/hoff" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://cs6.pikabu.ru/post_img/big/2017/05/17/8/1495027039189380037.jpg" data-src="https://cs6.pikabu.ru/post_img/big/2017/05/17/8/1495027039189380037.jpg" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/metro" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://freehotline.ru/wp-content/uploads/metro-e1481381298870.png" data-src="https://freehotline.ru/wp-content/uploads/metro-e1481381298870.png" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/und" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="http://allado.ru/uploads/catalog/80/500x280/1469555469_.jpeg" data-src="http://allado.ru/uploads/catalog/80/500x280/1469555469_.jpeg" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5b7bae10540fa">
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_box_border_red"><a href="/supermarket/fix-price" target="_blank"><img class="vc_single_image-img lazy attachment-full" src="https://fix-price.ru/images/og_social.png" data-src="https://fix-price.ru/images/og_social.png" style="width: 180px; height: 100px;"  width="180" height="105"  alt="Home 01"/></a></div>
		</figure>
	</div>
	
                </div>
            </div>
			</div></div></div></div>
			        </div>
    </div>