

<div class="single-thumb-horizontal main-container shop-page left-sidebar">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">


				<div class="vc_row wpb_row vc_row-fluid ovic_custom_5b7bae105335b vc_custom_1515039240393">
					<div class="wpb_column vc_column_container vc_col-sm-12 ovic_custom_5b7bae10533af">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="ovic-products style-4 ovic_custom_5b7bae10533f1 ">
				                    <h3 class="ovic-title">
										<span class="title">Рекомендуемые акции и скидки</span>
									</h3>
				                

								<div class="tab-container">
                                        <div class="tab-panel active" id="1513736697957-62914778-57dc-5b90c95d87ce3">
                                            <div class="ovic-products style-1 style-2   ovic_custom_5b7bae10535fe ">
												<div class="product-list-owl owl-slick equal-container better-height "  
												data-slick = {"autoplay":true,"autoplaySpeed":1000,"arrows":true,"slidesMargin":30,"dots":false,"infinite":true,"speed":300,"slidesToShow":6,"rows":1} 

												data-responsive = [{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}}] >
							                        
													<? $sql_opt_akcii2 = mysql_query("SELECT * FROM `akcii` $wand ORDER BY RAND() LIMIT 8");
														while ($akcPop = mysql_fetch_assoc($sql_opt_akcii2)) {
													?>
													<div class="product-item products style-2 style-1 rows-space-0 post-2081 product type-product status-publish has-post-thumbnail product_cat-mac-computer product_cat-office-accessories product_cat-pc-computer product_cat-tv-audios product_tag-computer product_tag-electronic product_tag-keyboard product_tag-mouse product_tag-phone product_tag-red  instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
														<div class="product-inner product">
															<div class="product-thumb images">
																<div class="flash"></div>
																	<a target="_blank" class="thumb-link woocommerce-product-gallery__image" href="/akcii/<?=$akcPop['url'];?>">
																		<img class="img-responsive wp-post-image lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20240%20274%27%2F%3E"
																		data-src="<?=str_replace('../../', '/', $akcPop['photo']);?>" 
																		style="width: 240px;height: 204px;"
																		alt="<?=$akcPop['name'];?>">
																	</a>
																	
																	
															</div>
															
															<div class="product-info equal-elem">
																<?/*<div class="rating-wapper"><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="review">( 1 review )</span></div>  */?>     
																<h3 class="product-name product_title">
																	<a target="_blank" href="/akcii/<?=$akcPop['url'];?>"><?=strLimit($akcPop['name'], 60);?></a>
																</h3>
																<?/*<p>
																	<?=strLimit($akcPop['opis'], 80);?>
																</p>*/?>
																		
																
															</div>
															
															<div class="group-button">
																<div class="yith-wcwl-add-to-wishlist add-to-wishlist-2081">
																	

																		

																		

																		<div style="clear:both"></div>
																		<div class="yith-wcwl-wishlistaddresponse"></div>
																	
																</div>

																<?/*<div class="clear"></div>		<div class="add-to-cart">
																	<a target="_blank" href="/akcii/<?=$akcPop['url'];?>" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="2081" data-product_sku="ED1202" aria-label="" rel="nofollow">Подробнее</a>		</div>*/?>
															</div>
		
		
		
														</div>
													</div>
													<? } ?>
													
							                        </div>
					            </div>
			                            </div>
                                                    <div class="tab-panel "
                                 id="1513736733288-bacb9ba3-b556-5b90c95d87ce3">
                                                            </div>
                                                    <div class="tab-panel "
                                 id="1513736749759-1f0ec331-f3eb-5b90c95d87ce3">
                                                            </div>
                                            </div>

					            </div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>